<div class="container">
  <h1>List Details</h1>
  <p><strong><%= @list.name %></strong></p>
  <hr>
  <%= link_to "Comeback to the lists", lists_path %>
  <%= link_to "Add Movies Bookmarks", new_bookmark_path %>
</div>
